.screen {
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  display: flex;
  justify-content: center;
}

.output {
  display: flex;
  text-align: center;
  margin: 10px 0;
  cursor: not-allowed;
  outline: none;
}
